@use '../../sass/utils/mixins' as m;

.game__footer {
  position: relative;
  top: -50px;
  @include m.media('mobile') {
    top: -25px;
  }

  .game__footer__background {
    position: absolute;
    background-color: var(--clr-purple);
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    height: 234px;
    width: min(100vw, 1440px);
    transition: background-color 400ms ease-in;
    &[data-status='wonP1'] {
      background-color: var(--clr-pink);
    }
    &[data-status='wonP2'] {
      background-color: var(--clr-orange);
    }
    @include m.media('mobile') {
      top: 13px;
      height: 236px;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .game__turn {
    position: absolute;
    z-index: 400;
    width: max-content;
    transform: scale(1);
    transition: transform 500ms ease-out;
    &[data-status^='won'] {
      transform: scale(0);
    }
    .game__turn__label {
      position: absolute;
      text-align: center;
      top: 42px;
      left: 50%;
      transform: translateX(-50%);
      width: max-content;
      &[data-turn='1'] {
        color: white;
      }
    }
  }

  .game__winner {
    position: absolute;
    z-index: 500;
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: white;
    border: 3px solid black;
    border-radius: 24px;
    box-shadow: 0px 10px black;
    width: 291px;
    padding-block: 20px;
    align-items: center;
    & > * {
      display: inline;
    }
    transform: scale(0);
    transition: transform 500ms ease-in;
    &[data-status^='won'] {
      transform: scale(1);
    }
  }
}
