@use '../../sass/utils/mixins' as m;
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 335px;
  margin-top: 50px;
  margin-top: 2rem;
  margin-bottom: 40px;
  @include m.media('tablet', 'desktop') {
    margin-top: 60px;
    width: 632px;
  }
  @include m.media('desktop') {
    margin-bottom: 57px;
  }
  @include m.media('tablet') {
    margin-bottom: 32px;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
