@use '../sass/utils/mixins' as m;

.menu {
  background-color: var(--clr-purple);
  @include m.media('mobile') {
    background-color: var(--clr-purple-2);
  }
  align-items: center;
}

.menu__container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-inline: 20px;
  @include m.media('tablet', 'desktop') {
    padding: 40px;
    border: 3px solid black;
    background-color: var(--clr-purple-2);
    box-shadow: 0px 10px black;
    border-radius: 40px;
  }
}

.menu__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.menu__logo {
  width: 52px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}
