@use '../../sass/utils/mixins' as m;

.score__player-1 {
  grid-area: player-1;
  margin-left: 30px;
}

.score__player-2 {
  grid-area: player-2;
  margin-right: 30px;
}

.game__player {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0px 10px black;
  @include m.media('tablet') {
    flex-direction: row;
    height: 100px;
    width: 272px;
    padding-inline: 45px;
  }
  @include m.media('desktop', 'mobile') {
    flex-direction: column;
    height: revert;
    width: revert;
  }
  @include m.media('desktop') {
    width: 147px;
    height: 164px;
    top: -14px;
    padding-block: 40px 30px;
  }
  @include m.media('mobile') {
    padding-inline: min(8.2vw, 32px);
    padding-block: 16px 16px;
  }
}

.score__label {
  // heading XS
  font-size: 16px;
  line-height: 21px;
  @include m.media('tablet', 'desktop') {
    // heading small
    font-size: 20px;
    line-height: 26px;
  }
}

.score__points {
  font-size: 32px;
  line-height: 41px;
  @include m.media('tablet', 'desktop') {
    // heading large
    font-size: 56px;
    line-height: 71px;
  }
}

.score__icon-player-1,
.score__icon-player-2 {
  width: 54px;
  height: 59px;
  position: absolute;
  @include m.media('tablet', 'mobile') {
    top: 50%;
    transform: translateY(-50%);
  }
  @include m.media('desktop') {
    left: 50%;
    transform: translateX(-50%);
    top: -28px;
  }
}

.score__icon-player-1 {
  @include m.media('tablet', 'mobile') {
    left: -28px;
  }
}

.score__icon-player-2 {
  @include m.media('tablet', 'mobile') {
    right: -28px;
  }
}
